*,
*:before *:after {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(243, 172, 172);
  --text-color: black;
  --accent-color: rgb(255, 111, 111);
  --accent-text-color: black;
  --nav-link-active-bg-color: rgb(145, 26, 26);
}

html {
  font-family: Arial, serif;
  font-size: 16px;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: block;
  padding: 1rem;
  background-color: var(--background-color);
  margin: 0;
  color: var(--text-color);
}

*::selection {
  background-color: var(--accent-color);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--text-color);
}

.header {
  text-align: center;
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    235deg,
    var(--background-color),
    var(--accent-color)
  );
  color: var(--accent-text-color);
}

.heading-gr {
  font-size: 2rem;
}

.article-heading {
  position: relative;
  left: 1.25rem;
}

.name-heading {
  font-size: 2em;
}

.dev {
  background-color: var(--background-color);
  padding: 0.65rem;
  font-size: 1em;
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--accent-color);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}
@media print {
  .hireme {
    display: none;
  }
}

.experience-heading {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main * + * {
  margin-top: 2.5rem;
}

.phone {
  color: black;
}
.mail {
  color: black;
}

.nav a {
  margin-right: 1em;
}

.nav-link {
  padding: 1rem;
  color: var(--accent-text-color);
}

.nav-li:hover {
  color: var(--accent-text-color-color);
  background-color: var(--accent-color);
}

.nav-li:active {
  background-color: var(--nav-link-active-bg-color);
  color: var(--accent-text-color);
}

.nav-link:visited {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

h1::before {
  content: "✨";
}

h1::after {
  content: "🐱‍🏍";
}

.footer {
  background-color: var(--accent-color);
  padding: 1rem;
  font-size: medium;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-link:hover {
  color: var(--accent-text-color);
}
